<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <%= link_to "Back", cocktails_path %>
    <%# <%= link_to "Delete",
                cocktails_path(@cocktail),
                method: :delete,
                data: { confirm: "Are you sure?" } %>

    <h1>cocktail</h1>

    <p>name: <%= @cocktail.name %></p>
    <%# <p>description: <%= cocktail_doses_path(@cocktail):description%></p>
    <%# <p>ingredient: <%= cocktail_doses_path(@cocktail):ingredient%></p>
    </div>
    <%= link_to "new dose", new_cocktail_dose_path(@cocktail) %>
  </div>
</div>
